@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, var(--color-2), var(--color-1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    /* background: red; */
    color: var(--color-5);
    margin-top: 100px;
}

.header h1{
    font-family: "Com-Bold";
    font-size: 5rem;
    padding: 10px;
}

.search__container{
    /* background: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#input__search{
    background: #181a1a;
    width: 480px;
    height: 35px;
    padding: 10px;
    border: none;
    color: var(--color-5);
    font-family: "Com-Reg";
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#button__search{
    background: var(--color-5);
    width: 18%;
    border: none;
    font-family: "Com-Bold";
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#button__search:hover{
    cursor: pointer;
    scale: 1.04;
}

.main__container{
    /* background: violet; */
    width: 370px;
    height: 600px;
}

.timer__container{
    /* background: green; */
    margin-top: 25px;
    margin-bottom: 12px;
}

.timer__container span{
    font-family: "Com-light";
    color: var(--color-5);
}

.task__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task__list li{
    background: var(--color-3);
    width: auto;
    padding: 10px;
    height: 36px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.task__list li > div {
    display: flex;
    gap: 8px;
}

.task__list li.done {
    opacity: 0.5; 
}

.task__list li span{
    font-family: "Com-Reg";
    color: var(--color-5);
    margin-right: 20px;
}

.task__list li.done span{
    text-decoration: line-through;
}

.task__list img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.circular-background {
    border-radius: 50%;
    background-color: var(--color-5);
    width: 30px;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}